---
---
<!-- _layouts/bib.html -->
      <div id="{{entry.key}}">
        <!-- Title -->
        <div class="title">
          {%- if entry.pdf or entry.url or entry.html -%}
            <a href="{%- if entry.pdf -%}{% if entry.pdf contains '://' %}{{ entry.pdf }}{% else %}{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}{% endif %}{%- elsif entry.url -%}{{ entry.url }}{%- elsif entry.html -%}{{ entry.html }}{%- endif -%}" class="title-link">{{entry.title}}</a>
          {%- else -%}
            {{entry.title}}
          {%- endif -%}
        </div>
        <!-- Author (coauthors only, "with ..." style) -->
        <div class="author">
        {%- comment -%}Build array of coauthors (excluding self){%- endcomment -%}
        {%- assign coauthors = "" -%}
        {%- assign coauthor_count = 0 -%}
        {%- for author in entry.author_array -%}
          {%- assign author_is_self = false -%}
          {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
          {%- if site.scholar.last_name contains author_last_name -%}
            {%- if site.scholar.first_name contains author.first -%}
              {%- assign author_is_self = true -%}
            {%- endif -%}
          {%- endif -%}
          {%- unless author_is_self -%}
            {%- assign coauthor_count = coauthor_count | plus: 1 -%}
          {%- endunless -%}
        {%- endfor -%}
        {%- if coauthor_count > 0 -%}
          {%- assign current_coauthor = 0 -%}
          (with&nbsp;{%- for author in entry.author_array -%}
            {%- assign author_is_self = false -%}
            {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
            {%- if site.scholar.last_name contains author_last_name -%}
              {%- if site.scholar.first_name contains author.first -%}
                {%- assign author_is_self = true -%}
              {%- endif -%}
            {%- endif -%}
            {%- unless author_is_self -%}
              {%- assign current_coauthor = current_coauthor | plus: 1 -%}
              {%- if current_coauthor > 1 -%}
                {%- if current_coauthor == coauthor_count -%}
                  &nbsp;and&nbsp;
                {%- else -%}
                  ,&nbsp;
                {%- endif -%}
              {%- endif -%}
              {%- assign coauthor_url = nil -%}
              {%- if site.data.coauthors[author_last_name] -%}
                {%- for coauthor in site.data.coauthors[author_last_name] -%}
                  {%- if coauthor.firstname contains author.first -%}
                    {%- assign coauthor_url = coauthor.url -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
              {%- if coauthor_url -%}
                <a href="{{coauthor_url}}">{{author.first}} {{author.last}}</a>
              {%- else -%}
                {{author.first}} {{author.last}}
              {%- endif -%}
            {%- endunless -%}
          {%- endfor -%})
        {%- endif -%}
        </div>

        <!-- Journal/Book title -->
        {% assign proceedings = "inproceedings,incollection" | split: ','%}
        {% assign thesis = "thesis,mastersthesis,phdthesis" | split: ','%}
        {% if entry.type == "article" -%}
          {%- capture entrytype -%}<em>{{entry.journal}}</em>{%- endcapture -%}
        {%- elsif proceedings contains entry.type -%}
          {%- capture entrytype -%}<em>In {{entry.booktitle}}</em> {%- endcapture -%}
        {%- elsif thesis contains entry.type -%}
          {%- capture entrytype -%}<em>{{entry.school}}</em> {%- endcapture -%}
        {%- else -%}
          {%- capture entrytype -%}{%- endcapture -%}
        {%- endif -%}
        {%- capture periodical -%}{{ entrytype }}{%- endcapture -%}
        <div class="periodical">
          {{ periodical | strip }}
        </div>
        <div class="periodical">
          {{ entry.note | strip }}
        </div>

          <!-- Links/Buttons -->
          <div class="links">
          {%- if entry.abstract %}
            <span class="abstract-toggle abstract" role="button">Abstract [+]</span>
          {%- endif %}
          {%- if entry.arxiv %}
            <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
          {%- endif %}
          {%- if entry.bibtex_show %}
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
          {%- endif %}
          {%- if entry.html %}
            <a href="{{ entry.html }}" class="btn btn-sm z-depth-0" role="button">{% if entry.html_label %}{{ entry.html_label }}{% else %}HTML{% endif %}</a>
          {%- endif %}
          {%- comment -%}URL and PDF buttons omitted — title already links to these{%- endcomment -%}
          {%- if entry.supp %}
            {% if entry.supp contains '://' -%}
            <a href="{{ entry.supp }}" class="btn btn-sm z-depth-0" role="button">Appendix</a>
            {%- else -%}
            <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Appendix</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.blog %}
            <a href="{{ entry.blog }}" class="btn btn-sm z-depth-0" role="button">Blog</a>
          {%- endif %}
          {%- if entry.code %}
            <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
          {%- endif %}
          {%- if entry.poster %}
            {% if entry.poster contains '://' -%}
            <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
            {%- else -%}
            <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.slides %}
            {% if entry.slides contains '://' -%}
            <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- else -%}
            <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.website %}
            <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
          {%- endif %}
          </div>
          {% if site.badges %}
          <div class="badges">
            {%- if site.badges.altmetric_badge %}
            <span class="altmetric-embed" data-hide-no-mentions="true" data-hide-less-than="15" data-badge-type="2" data-badge-popover="right"
              {% if entry.eprint %}
                data-arxiv-id="{{ entry.eprint }}"
              {% elsif entry.doi %}
                data-doi="{{ entry.doi }}"
              {% elsif entry.altmetric %}
                data-altmetric-id="{{ entry.altmetric }}"
              {% elsif entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% elsif entry.isbn %}
                data-isbn="{{ entry.isbn }}"
              {% endif %}
              ></span>
            {%- endif %}
            {%- if site.badges.dimensions_badge %}
              <span class="__dimensions_badge_embed__"
              {% if entry.doi %}
                data-doi="{{ entry.doi }}"
              {% else if entry.pmid %}
                data-pmid="{{ entry.pmid }}"
              {% else %}
                data-id="{{ entry.dimensions }}"
              {% endif %}
              data-hide-zero-citations="true" data-style="small_rectangle" data-legend="hover-right" style="margin-bottom: 3px;"></span>
            {%- endif %}
          </div>
          {%- endif %}

          {% if entry.abstract -%}
          <!-- Hidden abstract block -->
          <div class="abstract hidden">
            <p>{{ entry.abstract }}</p>
          </div>
          {%- endif -%}

          {% if entry.bibtex_show -%}
          <!-- Hidden bibtex block -->
          <div class="bibtex hidden">
            {% highlight bibtex %}{{ entry.bibtex | hideCustomBibtex }}{% endhighlight %}
          </div>
          {%- endif %}
      </div>
